fastapi
uvicorn
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

opencv-python-headless
numpy
pytorchcv
